*, *::before, *::after  {
  margin: 0;
}

.job-wrapper  {
  width: 80%;
  margin: 0 auto;
}


.jobcard  {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
}

.job-wrapper .jobcard + .jobcard   {
  margin-top: 10px;
}

.header-inner   {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

section   {
  padding-bottom: 30px;
  padding-top: 30px;
  
}

.form-wrapper   {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  padding: .5rem;
  
}

.form   {
  display: flex;
  justify-content: space-between;
}